@model EntityLayer.Concrete.Meeting

@{
}
<div class="page-header">
    <h3 class="page-title"> Form elements </h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Forms</a></li>
            <li class="breadcrumb-item active" aria-current="page">Form elements</li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Toplantı Oluştur</h4>
                <br />

                @using (Html.BeginForm("AddMeeting", "Meeting", FormMethod.Post, new { @class = "forms-sample", @enctype = "multipart/form-data" }))
                {
                    <div class="form-group">
                        <label for="MeetingName">Toplantı Başlığı</label>
                        <input type="text" class="form-control" name="MeetingName" id="MeetingName" placeholder="Toplantı Başlığı" maxlength="32" minlength="3" required>
                        @Html.ValidationMessageFor(x=>x.MeetingName,"",new{@class="text-danger"})
                    </div>  
                    <div class="form-group">
                        <label for="Description">Toplantı Açıklaması (İsteğe Bağlı)</label>
                        <textarea class="form-control" name="Description" id="Description" placeholder="Toplantı Açıklaması" rows="6" minlength="3" maxlength="300"></textarea>
                         @Html.ValidationMessageFor(x=>x.Description,"",new{@class="text-danger"})
                    </div>
                    <div class="form-group">
                        <label for="Location">Toplantı Konumu (İsteğe Bağlı)</label>
                        <input type="text" class="form-control" name="Location" id="Location" placeholder="Toplantı Konumu">
                        @Html.ValidationMessageFor(x=>x.Location,"",new{@class="text-danger"})
                    </div>
                    <div class="form-group">
                        <label for="PlanningDate">Toplantı Tarihi</label>
                        <input type="datetime-local" class="form-control" name="PlanningDate" id="PlanningDate" placeholder="Toplantı Tarihi" required>
                        @Html.ValidationMessageFor(x=>x.PlanningDate,"",new{@class="text-danger"})
                    </div>
                    <div class="form-group">
                        <label for="MeetingDuration">Toplantı Süresi</label>
                        <br>
                        <select id="MeetingDuration" name="MeetingDuration" class="form-control" aria-placeholder="Toplantı Süresi" required>
                            <option selected disabled>Toplantı Süresini Seçin</option>
                            <option value="45">45 Dk</option>
                            <option value="90">90 Dk</option>
                            <option value="135">135 Dk</option>
                            <option value="180">180 Dk</option>
                        </select>
                        @Html.ValidationMessageFor(x=>x.MeetingDuration,"",new{@class="text-danger"})
                    </div>
                    <p class="text-success">@ViewBag.MeetingSuccess</p>
                    <button type="submit" class="btn btn-gradient-primary mr-2">Oluştur</button>
                    <button class="btn btn-light">İptal</button>
                }
            </div>
        </div>
    </div>
</div>