@model List<EntityLayer.Concrete.Meeting>

@{
}
<div class="page-header">

    <nav aria-label="breadcrumb">

    </nav>
</div>
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                @{
                    bool isNotActivate = false;
                }
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Toplantı Adı</th>
                            <th>Toplantı Süresi</th>
                            <th>Toplantı Konumu</th>
                            <th>Katılımcılar</th>
                            @*<th>Durumu</th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.Status)
                            {
                                isNotActivate = true;
                                <tr>
                                    <td>
                                        @item.MeetingID
                                    </td>
                                    <td>
                                        @item.MeetingName
                                    </td>
                                    <td>
                                        @item.MeetingDuration
                                    </td>
                                    <td>
                                        @item.Location
                                    </td>
                                    <td>
                                        <ul>
                                            @foreach (var mail in item.Mails)
                                            {
                                                <li>@mail.email</li>
                                            }
                                        </ul>
                                    </td>
                                    @*<td>
                            @item.Status
                            </td>*@
                                    <td>
                                        <a href="/Meeting/Detail/@item.MeetingID" class="btn btn-info"><i class="mdi mdi-info"></i> Göster</a>
                                        <a href="/Meeting/EditMeeting/@item.MeetingID" class="btn btn-primary"><i class="mdi mdi-info"></i> Düzenle</a>
                                        @*<a href="/Meeting/ActivateMeeting/@item.MeetingID" class="btn btn-info"><i class="mdi mdi-info"></i> Aktif Et</a>*@
                                        <button onclick="AreYouSureDeleteMeeting(this)" class="btn btn-danger"><i class="mdi mdi-delete"></i> Sil</button>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>


                </table>
                @if (Model.Count == 0 || isNotActivate == false)
                {
                    <h3 class="text-danger"> Herhangi bir toplantı bulunamadı.</h3>
                }
            </div>
        </div>
    </div>
</div>